<form name="transaction" method="post">

    <div class="row">
        {# Source account cell #}
        <div class="col-xs-5 no-padding">
            <div class="column-cell"><label for="sourceAccount">Source</label></div>
            <div class="column-cell">
                <select id="sourceAccount" name="transaction[sourceAccount]" class="form-control select2">
                    <option value="null">{% trans %}pms_finance_bundle.external{% endtrans %}</option>
                    {% for acco in accounts %}
                        <option value="{{ acco.id }}" {% if acco.isFavorite == 1 %}selected="selected"{% endif %}>{{ acco.displayName }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {# Switch accounts cell #}
        <div class="col-xs-2 no-padding text-center">
            <button type="button" class="btn btn-xs btn-info" id="swapAccounts" style="margin-top: 22px;">
                <span class="fa fa-exchange"></span>
            </button>
        </div>

        {# Destination account cell #}
        <div class="col-xs-5 no-padding">
            <div class="column-cell">
                <label for="destinationAccount">Destination</label>
            </div>
            <div class="column-cell">
                <select id="destinationAccount" name="transaction[destinationAccount]" class="form-control select2">
                    <option value="null">{% trans %}pms_finance_bundle.external{% endtrans %}</option>
                    {% for acco in accounts %}
                        <option value="{{ acco.id }}">{{ acco.displayName }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 no-padding">
            <div class="">
                <label for="value">Value</label>
            </div>
            <div class="">
                <input type="text" id="value" name="transaction[value]" class="form-control" />
            </div>
        </div>
        <div class="col-xs-7 no-padding">
            <div class="">
                <label for="scope">Scope</label>
            </div>
            <div class="">
                <input id="scope" name="transaction[scope]" class="form-control" />
            </div>
        </div>
        <div class="col-xs-1 no-padding text-center">
            <button type="button" class="btn btn-xs btn-primary" id="lockTransaction"><span class="fa fa-unlock"></span></button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 no-padding">
            <div class="well well-sm">
                <div id="partialScopes"></div>
                <a id="addPartialScope">Add Partial Scope <span class="fa fa-arrow-circle-up"></span></a>
                <h4>Recent</h4>
                <div class="well well-sm">
                    {% for scope in quickScopes %}
                        <span class="label label-default quickScope">{{ scope }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 no-padding">
            <div class="input-group date">
                <input type="text" id="dateOccurred" name="transaction[dateOccurred]" class="form-control datepicker" data-date-format="dd-mm-yyyy" value="{{ 'now'|date('d-m-Y') }}" />
                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
        </div>
        <div class="col-xs-4 no-padding">
            <button type="button" class="btn btn-primary form-control" id="saveTransaction"><span class="fa fa-check-circle"></span> Save</button>
        </div>
    </div>

</form>
<script id="partialScopeCell" type="x-tmpl-mustache">
{% verbatim %}
<div id="{{ psId }}" class="row partialScopePair">
    <div class="col-xs-4 no-padding">
        <input type="text" value="" class="form-control partialScopeValue"/>
    </div>
    <div class="col-xs-6 no-padding">
        <input type="text" value="{{ clickedScope }}" class="form-control partialScopeName"/>
    </div>
    <div class="closePartialScope col-xs-2">
        <span class="fa fa-close"></span>
    </div>
</div>
{% endverbatim %}
</script>