{% extends 'PmsFinanceBundle::index.html.twig' %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pmslayout/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/pmslayout/css/select2-bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/pmslayout/css/datepicker3.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/pmslayout/css/jquery.dataTables.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/pmslayout/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pmslayout/js/typeahead.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pmslayout/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pmslayout/js/jquery.dataTables.js') }}"></script>
    {% javascripts
        '@PmsFinanceBundle/Resources/public/js/modules/transaction.js'
        '@PmsFinanceBundle/Resources/public/js/modules/balance.js'
        output='bundles/pmsfinance/js/module' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        var page = new Page();

        page.attachModule(new TransactionModule());

        // TODO: Do this for all available accounts or for predefined accounts
        {% if accounts is defined %}
            {% for account in accounts %}
                page.attachModule(new BalanceModule({{ account.id }}));
            {% endfor %}
        {% else %}
            console.log("MODULE::Balance::Error: accounts var missing!");
        {% endif %}

        $(function() { page.onDocumentReady(); });
        // TODO: Must act as generic view, to which modules are attached after checking that the view exists
    </script>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-4 col-xs-12">
            {% include 'PmsFinanceBundle:Modules:Transaction/form.html.twig' %}
        </div>
        <div class="col-md-8 col-xs-12"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            {% include 'PmsFinanceBundle:Modules:Balance/table.html.twig' %}
        </div>
        <div class="col-md-6 col-xs-12"></div>

    </div>
{% endblock %}